{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="https://via.placeholder.com/300x300" class="img-fluid" alt="Dummy Image">
    </div>
    <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Sed sit amet lectus vitae mauris luctus porttitor. Curabitur ac posuere sem, et bibendum libero.</p>
        <p>Donec consectetur, sapien nec pellentesque volutpat, purus leo dictum nibh, sit amet suscipit urna ante non lacus. Integer tincidunt malesuada orci, eget luctus eros viverra id. Nam non venenatis massa. Curabitur pharetra, urna ut euismod pellentesque, nisi quam viverra ex, nec vehicula nulla ex non est.</p>
        <a class="btn btn-primary mt-3" href="/products">Shop Now</a>
    </div>
</div>
{% endblock %}
